/**************** RESPONSIVE *********************/
/**************** /RESPONSIVE *********************/
/***** Dark theme Material Design *****/
/***** /Dark theme Material Design *****/
/****** Light theme Material Design ******/
/****** /Light theme Material Design ******/
/********* Constants de fuente Info-Peru ***********/
/********* /Constants de fuente Info-Peru ***********/
/********* PALETTE COLORS ***********/
/********* /PALETTE COLORS ***********/
/**************** RESPONSIVE *********************/
/**************** /RESPONSIVE *********************/
/* Inicio iframe responsive */
/* Fin iframe responsive */
/* Inicio ajustar texto a la caja usa tres puntos suspensivos al final y en una sola linea */
/* Fin ajustar texto a la caja usa tres puntos suspensivos al final y en una sola linea */
/* Inicio ajustar texto a la caja usa tres puntos suspensivos al final y en varias lineas */
/* Example: @include ajustatrespuntosmultiline(17px, 1.1, 3); */
/* Fin ajustar texto a la caja usa tres puntos suspensivos al final y en varias lineas */
/* Inicio ajustar texto a la caja */
/* Fin ajustar texto a la caja */
/* Inicio convierte imagen a escala de grises por css y svg 
*  Para asegurar mayor compatibilidad agrgar en cualquier parte de la pagina el siguiente code:
* 	<div style="width:0;height:0;"><svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"><filter id="grayscale"><fecolormatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/></filter></svg></div>
*/
/* Fin convierte imagen a escala de grises por css y svg  */
/* Inicio scroll design */
/* Example: @include scroll-design(#f5f5f5,#630496,#662c91,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) */
/* Fin scroll design */
/* Inicio animacion shadow */
/* Fin animacion shadow */
body {
  margin: 0;
  padding: 0;
  border: 0;
}
@media only screen and (max-width: 768px) {
  body.overflow-hidden {
    overflow: hidden;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  body.overflow-hidden {
    overflow: hidden;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

span {
  margin: 0;
}

img {
  vertical-align: baseline;
  max-width: none;
  height: auto;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 0;
}

.input-number-no-bottom {
  -moz-appearance: textfield;
  margin: 0;
}
.input-number-no-bottom::-webkit-inner-spin-button, .input-number-no-bottom::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-searchbox-no-style::-webkit-search-decoration, .input-searchbox-no-style::-webkit-search-cancel-button, .input-searchbox-no-style::-webkit-search-results-button, .input-searchbox-no-style::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.clear-input {
  border: 0;
}
.clear-input:focus {
  outline: 0px;
}

.blockv3-container {
  width: 96%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1701px) {
  .blockv3-container {
    max-width: 1450px;
  }
}

/* ClanOt */
@font-face {
  font-family: "ClanOt";
  font-weight: 400;
  font-style: normal;
  src: local("clanOt 400"), local("clanOt-400"), url("../fonts/font-clan/clanOt-400.otf") format("opentype");
}
@font-face {
  font-family: "ClanOt";
  font-style: normal;
  font-weight: 500;
  src: local("clanOt 500"), local("clanOt-500"), url("../fonts/font-clan/clanOt-500.otf") format("opentype");
}
@font-face {
  font-family: "ClanOt";
  font-style: normal;
  font-weight: 700;
  src: local("clanOt 700"), local("clanOt-700"), url("../fonts/font-clan/clanOt-700.otf") format("opentype");
}
@font-face {
  font-family: "ClanOt";
  font-style: normal;
  font-weight: 900;
  src: local("clanOt 900"), local("clanOt-900"), url("../fonts/font-clan/clanOt-900.otf") format("opentype");
}
/* Bree */
@font-face {
  font-family: "BreePeru";
  font-style: normal;
  font-weight: 400;
  src: local("bree 400"), local("bree-400"), url("../fonts/font-bree/breeperu_light.otf") format("opentype");
}
@font-face {
  font-family: "BreePeru";
  font-style: italic;
  font-weight: 400;
  src: local("bree 400"), local("bree-400"), url("../fonts/font-bree/breeperu_lightoblique.otf") format("opentype");
}
@font-face {
  font-family: "BreePeru";
  font-style: normal;
  font-weight: 500;
  src: local("bree 500"), local("bree-500"), url("../fonts/font-bree/breeperu_regular.otf") format("opentype");
}
@font-face {
  font-family: "BreePeru";
  font-style: italic;
  font-weight: 500;
  src: local("bree 500"), local("bree-500"), url("../fonts/font-bree/breeperu_regularoblique.otf") format("opentype");
}
@font-face {
  font-family: "BreePeru";
  font-style: normal;
  font-weight: 700;
  src: local("bree 700"), local("bree-700"), url("../fonts/font-bree/breeperu_bold.otf") format("opentype");
}
@font-face {
  font-family: "BreePeru";
  font-style: italic;
  font-weight: 700;
  src: local("bree 700"), local("bree-700"), url("../fonts/font-bree/breeperu_boldoblique.otf") format("opentype");
}
/* Roboto */
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("roboto 300"), local("roboto-300"), url("../fonts/font-roboto/roboto-light.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("roboto 400"), local("roboto-400"), url("../fonts/font-roboto/roboto-regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("roboto 500"), local("roboto-500"), url("../fonts/font-roboto/roboto-medium.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("roboto 700"), local("roboto-700"), url("../fonts/font-roboto/roboto-bold.ttf") format("opentype");
}
.banner-apps .contenedor-banner-apps {
  position: relative;
}
.banner-apps .contenedor-banner-apps .content-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-banner {
    height: 340px;
  }
}
.banner-apps .contenedor-banner-apps .content-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner-apps .contenedor-banner-apps .content-text-banner {
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.banner-apps .contenedor-banner-apps .content-text-banner .container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 16em);
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text {
    width: 85%;
  }
}
.banner-apps .contenedor-banner-apps .content-text-banner .container-text h1 {
  color: #fff;
  font-family: "BreePeru", sans-serif;
  font-size: 91px;
  font-weight: bold;
  letter-spacing: 4.8px;
  line-height: 86px;
  padding-bottom: 35px;
  margin-bottom: 35px;
  width: 100%;
  border-bottom: 2px solid #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text h1 {
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 1;
  }
}
.banner-apps .contenedor-banner-apps .content-text-banner .container-text .categoria {
  position: relative;
  padding-left: 15px;
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text .categoria {
    padding-left: 10px;
  }
}
.banner-apps .contenedor-banner-apps .content-text-banner .container-text .categoria:before {
  background-color: #006ab4;
  content: " ";
  height: 80%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 5%;
  width: 0.4em;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text .categoria:before {
    height: 90%;
    top: 4%;
    width: 5px;
  }
}
.banner-apps .contenedor-banner-apps .content-text-banner .container-text .categoria p {
  font-family: "BreePeru", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text .categoria p {
    font-size: 12px;
  }
}
.banner-apps .contenedor-banner-apps .content-text-banner .container-text .bajada p {
  font-family: "ClanOt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 112%;
  letter-spacing: 1.568px;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text .bajada p {
    font-size: 10.5px;
    text-align: center;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-apps .contenedor-banner-apps .content-text-banner .container-text .bajada p br {
    display: none;
  }
}

.scroll-boton {
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: calc(100vh - 84px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  .scroll-boton {
    display: none;
  }
}
.scroll-boton .scroll-cont {
  border: 1.5px solid #fff;
  border-radius: 60px;
  height: 36px;
  width: 18px;
}
.scroll-boton .scroll-cont .scroll-circ {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: deslizar;
          animation-name: deslizar;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  height: 6px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 4.8px;
  width: 6px;
}

@-webkit-keyframes deslizar {
  0% {
    top: 0.4em;
  }
  50% {
    top: calc(100% - .9em);
  }
  100% {
    top: 0.4em;
  }
}

@keyframes deslizar {
  0% {
    top: 0.4em;
  }
  50% {
    top: calc(100% - .9em);
  }
  100% {
    top: 0.4em;
  }
}
.container-apps .content-apps .list-apps {
  margin: 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps {
    margin: 50px auto;
    width: 80%;
  }
}
.container-apps .content-apps .list-apps .item-app {
  width: 45%;
  margin: 0 2%;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}
.container-apps .content-apps .list-apps .item-app:last-child {
  margin-bottom: 0;
}
.container-apps .content-apps .list-apps .item-app .image-app {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 280px;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app .image-app {
    height: 150px;
  }
}
.container-apps .content-apps .list-apps .item-app .image-app img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.container-apps .content-apps .list-apps .item-app .description-app {
  background: #F9F8F8;
  padding: 30px 35px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app .description-app {
    padding: 20px;
  }
}
.container-apps .content-apps .list-apps .item-app .description-app h2 {
  font-family: "BreePeru", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 80%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app .description-app h2 {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
}
.container-apps .content-apps .list-apps .item-app .description-app p {
  font-family: "ClanOt", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 114%;
  color: #404040;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app .description-app p {
    font-size: 12px;
  }
}
.container-apps .content-apps .list-apps .item-app .btns-download {
  margin-top: auto;
}
.container-apps .content-apps .list-apps .item-app .btns-download a {
  display: inline-block;
  margin-right: 10px;
  width: 160px;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app .btns-download a {
    width: 110px;
  }
}
.container-apps .content-apps .list-apps .item-app .btns-download a img {
  width: 100%;
}
.container-apps .content-apps .list-apps .item-app .btns-download p {
  font-family: "ClanOt", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 22px;
  letter-spacing: 1.12px;
  color: #404040;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .container-apps .content-apps .list-apps .item-app .btns-download p {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
}