@using System.Configuration
@{ ViewBag.Title = "Categorías";
    string vDominioAbsoluto = ConfigurationManager.AppSettings["dominioAbsoluto"]; }

@section Scripts
{
    <script src="@vDominioAbsoluto/ScriptsForms/Admin/Mantenimientos/Categoria.js"></script>

    <script>
        const editar = true;
        const eliminar = true;
    </script>
}

<div class="l-contents">

    <div class="cont-cont">
        <div class="cont-header">
            <h1 class="cont-header-h1">Categoría</h1>
        </div>

        <nav class="cont-icons" style="display:none">
            <a id="btnNuevo" href="javascript:" class="cont-icons-new">
                <span class="fas icon-plus">
                </span><span>Nuevo</span>
            </a>
        </nav>

        <div class="cont-table">
            <table id="gridBloques" class="cont-left tableResponsive" style="width: 100%; min-width: 400px; max-width: 1000px;">
                <thead>
                    <tr class="filter">
                        <th data-title="Nº" style="width: 5%"></th>
                        <th data-title="NombreIdioma" style="width: 10%">
                            <input type="text" id="gridCategoria_txtB_NombreIdioma">
                        </th>
                        <th data-title="Nombre" style="width: 10%">
                            <input type="text" id="gridCategoria_txtB_Nombre">
                        </th>
                        <th data-title="Titulo" style="width: 5%">
                            <input type="text" id="gridCategoria_txtB_Titulo">
                        </th>
                        <th data-title="Subtitulo" style="width: 20%">
                            <input type="text" id="gridCategoria_txtB_Subtitulo">
                        </th>
                        <th data-title="Activo" style="width: 10%">
                            <input type="text" id="gridCategoria_txtB_Activo">
                        </th>
                        <th data-title="" style="width: 10%" align="center">
                            <div class="accion-box">
                                <a href="" title="Editar">
                                    <span class="fas fa-search"></span>
                                </a>

                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 5%;">
                            <a id="a_RowNumber">Nº</a>
                        </th>
                        <th style="width: 10%;">
                            <a id="a_NombreIdioma">Nombre de Idioma</a>
                        </th>
                        <th style="width: 10%;">
                            <a id="a_Nombre">Nombre</a>
                        </th>
                        <th style="width: 5%;">
                            <a id="a_Titulo">Título</a>
                        </th>
                        <th style="width: 20%;">
                            <a id="a_Subtitulo">Subtítulo</a>
                        </th>
                        <th style="width: 10%;">
                            <a id="a_Activo">Activo</a>
                        </th>
                        <th style="width: 10%;">
                            <a id="a_"></a>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div>
    <div class="reveal-modal-bg">
        <div class="modal-registrar">
            <h2 id="lblRegistro">Crear Categoria</h2>

            <input type="hidden" id="hdnCategoriaId" />
            <input type="hidden" id="hdnCategoriaTraduccionId" />

            <div class="cont-box">
                <label class="cont-box-label">Idioma:</label>
                <select id="ddlIdioma" class="cont-box-select">
                    <option value="0" disabled="disabled" selected="selected" class="option-disabled">--Seleccione Idioma--</option>
                </select>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Nombre:</label>
                <input id="txtNombre" type="text" class="cont-box-input" maxlength="255">
            </div>

            <input type="hidden" id="hdnImagenId" name="hdnImagenId" />
            <input type="hidden" id="hdnImagenTraduccionId" name="hdnImagenTraduccionId" />

            <div class="cont-box">
                <label class="cont-box-label">Imagen Cabecera Desktop:</label>
                <div class="d-flex flex-column w-100">
                    <input id="fileImagenDesktop" type="file" class="cont-box-input" maxlength="255">
                    <span class="text-start small py-1">Dimensiones: 1920px X 681px</span>
                    <input type="hidden" id="txtImagenDesktop" />
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">&nbsp;</label>
                <div class="d-flex flex-column w-100 pb-3">
                    <img id="imgImagenDesktop" class="w-50" alt="" />
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Imagen Cabecera Movil:</label>
                <div class="d-flex flex-column w-100">
                    <input id="fileImagenMovil" type="file" class="cont-box-input" maxlength="255">
                    <span class="text-start small py-1">Dimensiones: 390px X 454px</span>
                    <input type="hidden" id="txtImagenMovil" />
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">&nbsp;</label>
                <div class="d-flex flex-column w-100 pb-3">
                    <img id="imgImagenMovil" class="w-50" alt="" />
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Imagen Texto Alternativo:</label>
                <input id="txtImagenTextoAlternativo" type="text" class="cont-box-input" maxlength="250">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Título:</label>
                <input id="txtTitulo" type="text" class="cont-box-input" maxlength="250">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Subtítulo:</label>
                <input id="txtSubtitulo" type="text" class="cont-box-input" maxlength="250">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Descripcion:</label>
                <div style="width: 553px;">
                    <textarea id="txtDescripcion" class="cont-box-input" rows="4" onkeyup="countChars(this);"></textarea>
                    <p id="charNum" style="text-align: right;">500 caracteres restantes</p>
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Bloque HTML:</label>
                <textarea id="txtBloqueHTML" class="cont-box-input" rows="5"></textarea>
            </div>

            <div class="cont-box" style="width: 186px">
                <label class="cont-box-label">Activo</label>

                <input type="checkbox" id="chkActivo" class="input-checkbox" checked="">
                <label for="chkActivo" class="input-checkbox-lab"> </label>
            </div>

            <div class="cont-box" style="width: 186px">
                <label class="cont-box-label">¿Buscador Visible?</label>

                <input type="checkbox" id="chkVisibleBuscador" class="input-checkbox" checked="">
                <label for="chkVisibleBuscador" class="input-checkbox-lab"> </label>
            </div>

            <div class="cont-box" style="width: 186px">
                <label class="cont-box-label">¿Home Visible?</label>

                <input type="checkbox" id="chkVisibleHome" class="input-checkbox" checked="">
                <label for="chkVisibleHome" class="input-checkbox-lab"> </label>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Título SEO:</label>
                <input id="txtTituloSEO" type="text" class="cont-box-input" maxlength="255">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Descripcion SEO:</label>
                <div style="width: 553px;">
                    <textarea id="txtDescripcionSEO" class="cont-box-input" rows="4" onkeyup="countCharsSEO(this);"></textarea>
                    <p id="charNumSEO" style="text-align: right;">255 caracteres restantes</p>
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">KeyWords:</label>
                <input id="txtKeyWords" type="text" class="cont-box-input" maxlength="255">
            </div>

            <div class="cont-box">
                <button id="btnGuardar" class="cont-box-submit">
                    <label>Registrar</label>
                </button>
            </div>
            <div class="cont-box">
                <button id="btnCancelar" class="cont-box-cancel close">
                    <label>Cancelar</label>
                </button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .dataTables_info {
        display: none;
    }

    .paginate_button {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }
</style>