@import 'model/slick.scss';
@import 'model/_config.scss';
@import 'model/_reset.scss';
@import 'model/_font.scss';


// ********** ********** MI ********** **********


// BLOCK HEADER
.header-peru-info{

    .contenedor-header-peru-info{

        .contenedor-logo-peru{
        }

        .contenedor-menu-header{
            .lista-menu-header{
                .item-lista-menu{
                    .link-item-menu{
                        // color: #8A8A8A;
						color: #565656;
                    }
                    .content-icon-lista{
                        .icon-lista-buscar{
							&:first-child{
								display: none;
							}
							&:last-child{
								display: block;
							}
						}
						.icon-lista-idioma{
							&:first-child{
								display: none;
							}
							&:last-child{
								display: block;
							}
						}
						.icon-lista-barras{
							&:first-child{
								display: none;
							}
							&:last-child{
								display: block;
							}
						}
                    }
                    .content-cantidad-alertas{
                    }
                    .container-selector-idioma{
                    }
                }
            }
        }

    }
    
    .menu-lateral{
    }
}
// /BLOCK HEADER



// BLOCK BANNER-EMBAJADORES
.contenedor-banner-embajadores{
    width: 100%;
    .content-banner-embajadores{
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
        }
        width: 100%;
        // height: 454px;
        position: relative;
        // margin-bottom: 58px;
        @include respondto(minxs) {
            // height: 454px;
        }
        @include respondto(maxxs) {
            // height: 454px;
        }
        @include respondto(sm) {
            // height: 454px;
        }
        @include respondto(md) {
        }
        @include respondto(lg) {
            // height: var(--v-width-banner);
        }
        @include respondto(xlg) {
            // height: var(--v-width-banner);
        }
        .box-banner-logo{
            width: 100%;
            // height: 100%;
            display: flex;
            img{
                width: 100%;
                // height: 100%;
                object-fit: cover;
                &:nth-child(2){
                    display: none;
                }
                @include respondto(minxs) {
                    &:nth-child(1){
                        display: none;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                }
                @include respondto(maxxs) {
                    &:nth-child(1){
                        display: none;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                }
                @include respondto(sm) {
                    &:nth-child(1){
                        display: none;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                }
                @include respondto(md) {
                }
                @include respondto(lg) {
                }
                @include respondto(xlg) {
                }
            }
        }
        
        .box-banner-txt{
            position: absolute;
            width: 100%;
            top: 63%;
            left: 50%;
            transform: translate(-50%);
            @include respondto(minxs) {
                top: 45%;
                transform: translate(-50%);
            }
            @include respondto(maxxs) {
                top: 55%;
                transform: translate(-50%);
            }
            @include respondto(sm) {
                max-width: 96%;
                transform: translate(-50%);
            }
            @include respondto(md) {
                max-width: 96%;
                top: 51%;
            }
            @include respondto(lg) {
                max-width: 1220px;
            }
            @include respondto(xlg) {
                max-width: 1500px;
            }
            .content-box-txt{
                font-family: $font-breePeru;
                text-align: center;
                color: #ffffff;
                padding: 0 22px;
                h1{
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 1;
                    padding-bottom: 20px;
                    @include respondto(minxs) {
                        font-size: 39px;
                        padding: 0 13px 13px 13px;
                    }
                    @include respondto(maxxs) {
                        font-size: 44px;
                        padding: 0 20px 17px 20px;
                    }
                    @include respondto(sm) {
                        padding: 0 13px 17px 13px;
                    }
                    @include respondto(md) {
                    }
                    @include respondto(lg) {
                    }
                    @include respondto(xlg) {
                        font-size: 56px;
                    }
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    text-shadow: 0 4px 4px rgba(0, 0, 0, .3);
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 57%;
                    @include respondto(minxs) {
                        max-width: 333px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                    @include respondto(maxxs) {
                        max-width: 480px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                    @include respondto(sm) {
                        max-width: 560px;
                        line-height: 20px;
                    }
                    @include respondto(md) {
                    }
                    @include respondto(lg) {
                    }
                    @include respondto(xlg) {
                        font-size: 17.5px;
                        line-height: 26px;
                        max-width: 50%;
                    }
                }
            }
        }

    }
}
// -/BLOCK-BANNER-EMBAJADORES



// BLOCK PAGINADO
.contenedor-embajadores-paginado{
    width: 100%;
    padding-top: 120px;
    @include respondto(minxs) {
        padding-top: 100px;
    }
    @include respondto(maxxs) {
        padding-top: 100px;
    }
    @include respondto(sm) {
        padding-top: 100px;
    }
    @include respondto(md) {
    }
    @include respondto(lg) {
    }
    @include respondto(xlg) {
    }
    .content-embajadores-paginado{
        display: flex;
        justify-content: center;
        .contenedor-paginado{
            width: 90%;
            display: flex;
            align-items: center;
            padding: 35px 0 40px 0;
            @include respondto(minxs) { 
            }
            @include respondto(maxxs) {
            }
            @include respondto(sm) {
            }
            @include respondto(md) {
            }
            @include respondto(lg) {
            }
            @include respondto(xlg) {
                width: 85%;
                padding: 35px 0 45px 0;
            }
            .box-btn-paginado{
                height: 34px;
				display: flex;
                a{
                    height: 100%;
                    font-family: $font-breePeru;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 34px;
                    color: #ffffff;
                    padding: 0 24px 0 24px;
                    background-color: #D52B1E;
                    border-radius: 30px;
                    &:hover{
                        text-decoration: underline;
                    }
                    @include respondto(minxs) { 
                    }
                    @include respondto(maxxs) {
                    }
                    @include respondto(sm) {
                    }
                    @include respondto(md) {
                    }
                    @include respondto(lg) {
                    }
                    @include respondto(xlg) {
                    }
                }
            }
            span{
                width: 6x;
                margin: 0 10px;
                img{
                    width: 100%;
                }
            }
            .box-subcategoria-paginado{
                a{
                    font-family: $font-breePeru;
                    font-weight: 400;
                    font-size: 14px;
                    // line-height: 18.7px;
                    color: #939598;
                    &:hover{
                        text-decoration: underline;
                    }
                    @include respondto(minxs) { 
                    }
                    @include respondto(maxxs) {
                    }
                    @include respondto(sm) {
                    }
                    @include respondto(md) {
                    }
                    @include respondto(lg) {
                    }
                    @include respondto(xlg) {
                    }
                }
            }
        }
    }
}
// /BLOCK PAGINADO



// BLOCK DETALLE-EMBAJADOR
.contenedor-detalle-embajador{
    width: 100%;
    .content-detalle-embajador{
        display: flex;
        justify-content: center;
        .contenedor-info-embajador{
            width: 90%;
            padding-bottom: 80px;
            @include respondto(minxs) {
                padding: 0 8px 80px 8px;
            }
            @include respondto(maxxs) {
                padding: 0 10px 80px 10px;
            }
            @include respondto(sm) {
            }
            @include respondto(md) {
            }
            @include respondto(lg) {
            }
            @include respondto(xlg) {
                width: 85%;
            }
            h1{
                width: 45%;
                font-family: $font-breePeru;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                color: #3A3A3A;
                padding-bottom: 22px;
                margin: 0 0 33px 0;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 145px;
                    height: 6px;
                    background-color: #D52B1E;
                }
                @include respondto(minxs) {
                    width: 100%;
                }
                @include respondto(maxxs) {
                    width: 77%;
                    // margin: 0 auto 51px auto;
                }
                @include respondto(sm) {
                    width: 77%;
                    // margin: 0 auto 51px auto;
                }
                @include respondto(md) {
                    width: 54%;
                }
                @include respondto(lg) {
                }
                @include respondto(xlg) {
                    font-size: 26px;
                }
            }
            .contenedor-banner-txt{
                width: 100%;
                // display: flex;
                @include respondto(minxs) {
                }
                @include respondto(maxxs) {
                }
                @include respondto(sm) {
                }
                @include respondto(md) {
                    display: flex;
                    justify-content: space-between;
                }
                @include respondto(lg) {
                    display: flex;
                    justify-content: space-between;
                }
                @include respondto(xlg) {
                    display: flex;
                    justify-content: space-between;
                }
                .contenedor-banner-rrss{
                    width: 52%;
                    display: flex;
                    flex-direction: column;
                    @include respondto(minxs) {
                        width: 100%;
                    }
                    @include respondto(maxxs) {
                        width: 100%;
                    }
                    @include respondto(sm) {
                        width: 100%;
                    }
                    @include respondto(md) {
                    }
                    @include respondto(lg) {
                    }
                    @include respondto(xlg) {
                    }
                    .box-logo{
                        width: 100%;
                        // height: 480px;
                        margin-bottom: 20px;
                        @include respondto(minxs) {
                            width: 100vw;
                            margin-left: 50%;
                            transform: translateX(-50%)
                        }
                        @include respondto(maxxs) {
                            width: 100vw;
                            margin-left: 50%;
                            transform: translateX(-50%)
                        }
                        @include respondto(sm) {
                        }
                        @include respondto(md) {
                        }
                        @include respondto(lg) {
                        }
                        @include respondto(xlg) {
                        }
                        img{
                            width: 100%;
                            display: flex;
                            // height: 100%;
                            // object-fit: cover;
                            &:nth-child(2){
                                display: none;
                            }
                            @include respondto(minxs) {
                                &:nth-child(1){
                                    display: none;
                                }
                                &:nth-child(2){
                                    display: block;
                                }
                            }
                            @include respondto(maxxs) {
                                &:nth-child(1){
                                    display: none;
                                }
                                &:nth-child(2){
                                    display: block;
                                }
                            }
                            @include respondto(sm) {
                            }
                            @include respondto(md) {
                            }
                            @include respondto(lg) {
                            }
                            @include respondto(xlg) {
                            }
                        }
                    }
                    p{
                        font-family: $font-clanOt;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 30px;
                        padding-bottom: 7px;
                        @include respondto(minxs) {
                        }
                        @include respondto(maxxs) {
                        }
                        @include respondto(sm) {
                        }
                        @include respondto(md) {
                        }
                        @include respondto(lg) {
                        }
                        @include respondto(xlg) {
                            font-size: 15px;
                            padding-bottom: 10px;
                        }
                    }
                    .box-rrss{
                        display: flex;
                        padding-bottom: 52px;
                        a{  
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            margin-right: 15px;
                            img{}
                        }
                    }
                }
    
                .contenedor-txt-info{
                    width: 44%;
                    @include respondto(minxs) {
                        width: 100%;
                    }
                    @include respondto(maxxs) {
                        width: 100%;
                    }
                    @include respondto(sm) {
                        width: 100%;
                    }
                    @include respondto(md) {
                    }
                    @include respondto(lg) {
                    }
                    @include respondto(xlg) {
                    }
                    h3{
                        width: 82%;
                        font-family: $font-clanOt;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 30px;
                        padding-bottom: 20px;
                        @include respondto(minxs) {
                            width: 91%;
                        }
                        @include respondto(maxxs) {
                        }
                        @include respondto(sm) {
                        }
                        @include respondto(md) {
                        }
                        @include respondto(lg) {
                        }
                        @include respondto(xlg) {
                            font-size: 19px;
                        }
                    }
                    p{
                        font-family: $font-clanOt;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20.2px;
                        text-align: justify;
                        padding-bottom: 20px;
                        @include respondto(minxs) {
                        }
                        @include respondto(maxxs) {
                        }
                        @include respondto(sm) {
                        }
                        @include respondto(md) {
                        }
                        @include respondto(lg) {
                        }
                        @include respondto(xlg) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
// -/BLOCK DETALLE-EMBAJADOR







// ********** ********** /MI ********** **********















// ********** ********** MA ********** **********


// ********** ********** /MA ********** **********