@using System.Configuration;
@{ ViewBag.Title = "Tarjeta de subcategorías";
    string vDominioAbsoluto = ConfigurationManager.AppSettings["dominioAbsoluto"]; }

@section Scripts
{
    <script src="@vDominioAbsoluto/ScriptsForms/Admin/Mantenimientos/Tarjeta.js"></script>

    <script>
        const editar = true;
        const eliminar = true;
    </script>
}

<div class="l-contents">

    <div class="cont-cont">
        <div class="cont-header">
            <h1 class="cont-header-h1">Tarjeta de subcategorías</h1>
        </div>

        <nav class="cont-icons">
            <a id="btnNuevo" href="javascript:" class="cont-icons-new">
                <span class="fas icon-plus">
                </span><span>Nuevo</span>
            </a>
        </nav>

        <div class="cont-table">
            <table id="gridBloques" class="cont-left tableResponsive" style="width: 100%; min-width: 400px; max-width: 1000px;">
                <thead>
                    <tr class="filter">
                        <th data-title="Nº" style="width: 5%"></th>
                        <th data-title="NombreSubCategoria" style="width: 5%">
                            <input type="text" id="gridTarjeta_txtB_NombreSubCategoria">
                        </th>
                        <th data-title="NombreIdioma" style="width: 20%">
                            <input type="text" id="gridTarjeta_txtB_NombreIdioma">
                        </th>
                        <th data-title="Titulo" style="width: 20%">
                            <input type="text" id="gridTarjeta_txtB_Titulo">
                        </th>
                        <th data-title="Activo" style="width: 10%">
                            <input type="text" id="gridTarjeta_txtB_Activo">
                        </th>

                        <th data-title="" style="width: 10%" align="center">
                            <div class="accion-box">
                                <a href="" title="Editar">
                                    <span class="fas fa-search"></span>
                                </a>

                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 5%;">
                            <a id="a_RowNumber">Nº</a>
                        </th>
                        <th style="width: 5%;">
                            <a id="a_NombreSubCategoria">Nombre de Subcategoria</a>
                        </th>
                        <th style="width: 20%;">
                            <a id="a_NombreIdioma">Nombre de Idioma</a>
                        </th>
                        <th style="width: 20%;">
                            <a id="a_Titulo">Titulo</a>
                        </th>
                        <th style="width: 10%;">
                            <a id="a_Activo">Activo</a>
                        </th>
                        <th style="width: 10%;">
                            <a id="a_"></a>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div>
    <div class="reveal-modal-bg">
        <div class="modal-registrar">
            <h2 id="lblRegistro">Crear Tarjeta</h2>

            <input type="hidden" id="hdnTarjetaId" />
            <input type="hidden" id="hdnTarjetaTraduccionId" />

            <div class="cont-box">
                <label class="cont-box-label">Idioma:</label>
                <select id="ddlIdioma" class="cont-box-select">
                    <option value="0" disabled="disabled" selected="selected" class="option-disabled">--Seleccione Idioma--</option>
                </select>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Sub Categoría:</label>
                <select id="ddlSubcategoria" class="cont-box-select">
                    <option value="0" disabled="disabled" selected="selected" class="option-disabled">--Seleccione Subcategoría--</option>
                </select>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Título:</label>
                <input id="txtTitulo" type="text" class="cont-box-input" maxlength="255">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Descripción:</label>
                <div style="width: 553px;">
                    <textarea id="txtDescripcion" class="cont-box-input" rows="4" onkeyup="countChars(this);"></textarea>
                    <p id="charNum" style="text-align: right;">400 caracteres restantes</p>
                </div>
            </div>

            <input type="hidden" id="hdnImagenId" name="hdnImagenId" />
            <input type="hidden" id="hdnImagenTraduccionId" name="hdnImagenTraduccionId" />

            <div class="cont-box">
                <label class="cont-box-label">Imagen:</label>
                <div class="d-flex flex-column w-100">
                    <input id="fileImagenDesktop" type="file" class="cont-box-input" maxlength="255">
                    <span class="text-start small py-1">Dimensiones: 476px X 400px</span>
                    <input type="hidden" id="txtImagenDesktop" />
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">&nbsp;</label>
                <div class="d-flex flex-column w-100 pb-3">
                    <img id="imgImagenDesktop" class="w-50" alt="" />
                </div>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Imagen Texto Alternativo:</label>
                <input id="txtImagenTextoAlternativo" type="text" class="cont-box-input" maxlength="250">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Nombre de botón:</label>
                <input id="txtNombreBoton" type="text" class="cont-box-input" maxlength="50">
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Link:</label>
                <input id="txtLink" type="text" class="cont-box-input" maxlength="255">
            </div>

            <div class="cont-box" style="width: 186px">
                <label class="cont-box-label">¿Ventana Nueva?:</label>

                <input type="checkbox" id="chkVentanaNueva" class="input-checkbox" checked="">
                <label for="chkVentanaNueva" class="input-checkbox-lab"> </label>
            </div>

            <div class="cont-box">
                <label class="cont-box-label">Orden:</label>
                <input id="txtOrden" type="number" class="cont-box-input">
            </div>

            <div class="cont-box" style="width: 186px">
                <label class="cont-box-label">Activo:</label>

                <input type="checkbox" id="chkActivo" class="input-checkbox" checked="">
                <label for="chkActivo" class="input-checkbox-lab"> </label>
            </div>

            <div class="cont-box">
                <button id="btnGuardar" class="cont-box-submit">
                    <label>Registrar</label>
                </button>
            </div>
            <div class="cont-box">
                <button id="btnCancelar" class="cont-box-cancel close">
                    <label>Cancelar</label>
                </button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .dataTables_info {
        display: none;
    }

    .paginate_button {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }
</style>